.container {
  /* width: 100%; */
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.section {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

/*header*/

.header {
  width: 100%;
  padding: 35px 0 32px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  transition: all 0.3s ease;
  overflow: hidden;
  position: fixed;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bar {
  position: absolute;
  color: #ffffff;
  font-family: fontawesome;
  font-size: 25px;
  display: none;
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
}

h1 {
  font-size: 25px;
  line-height: 1;
  color: #ffffff;
  font-family: "latobold";
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.logo span {
  color: #f06c64;
}

header .navbar {
  display: flex;
  justify-content: space-between;
}

header .navbar ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

header .navbar ul li {
  font-size: 12px;
  line-height: 1;
  display: flex;
  font-family: "latobold";
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 28px;
}

.navbar a {
  color: #fff;
  margin: auto;
}

header .navbar ul li a:hover {
  color: #f06c64;
  transition: 0.2s linear;
}

li a.active {
  color: #e76963;
}

/*Slider*/

.slider {
  background-color: #f06c64;
  padding: 152px 0 80px;
  border-bottom: 6px solid #ea666b;
}

.slider_block {
  position: relative;
}

.first_slide {
  margin: auto;
  width: calc(23% + 49% + 100px);
  display: flex;
  justify-content: space-between;
}

.vertical {
  position: relative;
  width: 28%;
}

.vertical .vert_img {
  width: 87.6%;
  position: absolute;
  top: 65px;
  left: 14px;
}

.vert_phone {
  box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.15);
  border-radius: 27px;
}

.horizontal {
  width: 59%;
  position: relative;
  align-self: center;
}

.horizontal .horiz_img {
  width: 72.8%;
  position: absolute;
  top: 14px;
  left: 60px;
}

.horiz_phone {
  box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.15);
  border-radius: 27px;
}

.second_slide {
  position: relative;
  display: block;
  text-align: center;
  /* background-color: #648bf0; */
}

.left_img {
  position: absolute;
  bottom: 92px;
  left: 212px;
}

.right_img {
  position: absolute;
  right: 211px;
  bottom: 92px;
}

.center_img {
  z-index: 2;
}

.arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translate(0, -50%);
}

.arrows img {
  display: block;
  cursor: pointer;
}

.arrows img:hover {
  opacity: 0.3;
}

.arrows img:active {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.slide img {
  display: block;
  width: 100%;
}

/* services */

.services {
  background-color: #f2f2f2;
  padding: 62px 0 30px;
  border-bottom: 6px solid #fff;
}

.services_block h2 {
  font-size: 30px;
  line-height: 1;
  color: #666d89;
  font-family: "latoblack";
  font-weight: 900;
  margin-bottom: 21px;
  margin-left: 1px;
}

.services_text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "latolight";
  font-weight: 300;
  margin-bottom: 47px;
  letter-spacing: -0.05px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list li {
  width: 32%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.circle {
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 100%;
  display: flex;
  box-sizing: border-box;
  margin-left: 2px;
}

.pen {
  background-image: url(../images/pen.png);
  background-repeat: no-repeat;
  background-position: center;
}

.list_text {
  width: 73%;
  overflow: hidden;
}

.list_text h3 {
  font-size: 18px;
  line-height: 1;
  color: #666d89;
  font-family: "latoblack";
  font-weight: 900;
  margin: -2px 0 10px 1px;
}

.list_text p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "latoregular";
  font-weight: 400;
  margin-left: 1px;
  text-align: justify;
  max-height: 66px;
  overflow: hidden;
}

.bulb {
  background-image: url(../images/bulb.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bubble {
  background-image: url(../images/bubble.png);
  background-repeat: no-repeat;
  background-position: center;
}

.star {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*portfolio*/

.portfolio {
  padding: 68px 0 48px 5px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.block_title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "latoblack";
  font-weight: 900;
  margin-bottom: 27px;
}

.block_info {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "latolight";
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: -0.22px;
  text-align: justify;
}

.image_buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.image_buttons li {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: #0f0f0f;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 1;
  color: #767e9e;
  font-family: "latoregular";
  font-weight: 400;
}

.image_buttons li:nth-of-type(2) {
  padding: 5px 6px;
}

.image_buttons li:nth-of-type(3) {
  padding: 5px 6px;
  margin-right: 8px;
}

.image_buttons li:nth-of-type(4) {
  padding: 5px 6px;
}

.image_buttons li:hover {
  border: 1px solid #fff;
  color: #fff;
  transition: 0.2s linear;
}

.images_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.images_block img {
  margin-bottom: 20px;
  display: block;
  width: calc((100% - 60px) / 4);
}

.images_block img:nth-of-type(n + 13) {
  display: none;
}

li.activeTab {
  border: 1px solid #fff;
  color: #fff;
}

.activeImage {
  box-shadow: 0px 0px 1px 5px #f06c64;
}

/*about*/

.about {
  padding: 68px 0 52px 5px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.team_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 45px;
}

.team {
  width: calc((100% - 40px) / 3);
}

.team img {
  display: block;
  margin-bottom: 17px;
  width: 100%;
}

.name {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "latoblack";
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: -0.15px;
  overflow: hidden;
  max-height: 18px;
}

.team_info {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "latoregular";
  font-weight: 400;
  margin-bottom: 23px;
  text-align: justify;
}

.social_block {
  display: flex;
  justify-content: flex-start;
}

.border {
  display: flex;
  width: 33px;
  height: 33px;
  border: 1px solid #666d89;
  border-radius: 50%;
  margin-right: 7px;
  box-sizing: border-box;
}

.facebook {
  background: url(../images/facebook.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px;
}

.google {
  background: url(../images/google-plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px;
}

.twitter {
  background: url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px;
}

.linkedin {
  background: url(../images/linkedin.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px;
}

.border:hover {
  cursor: pointer;
  background-color: #b9aedf;
  transition: 0.2s linear;
}

.border:active {
  background-color: #fff;
}

/*quote*/

.quote {
  padding: 61px 0 49px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote_block .block_title {
  font-size: 30px;
  line-height: 1;
  color: #f0d8d9;
  font-family: "latoblack";
  font-weight: 900;
  margin-bottom: 21px;
}

.quote_block .block_info {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "latolight";
  font-weight: 300;
  text-align: justify;
  margin-bottom: 45px;
  letter-spacing: -0.1px;
}

.formBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.userInfo {
  width: 66%;
  position: relative;
}

.userInfo input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 1;
  color: #f0d8d9;
  font-family: "latoregular";
  font-weight: 400;
  padding: 10px 0 11px 15px;
  border: none;
  margin-bottom: 17px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #f48c8f;
}
:-moz-placeholder {
  color: #f48c8f;
}
:-ms-input-placeholder {
  color: #f48c8f;
}

.userInfo input:focus {
  background-color: #8e5050;
}

form input:last-of-type {
  height: 203px;
  padding-bottom: 177px;
}

.userInfo button {
  position: absolute;
  right: -220px;
  bottom: 20px;
  padding: 10px 35px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  background-color: #f0d8d9;
  outline: none;
  color: #ea676b;
}

.userInfo button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.userInfo button:active {
  opacity: 1;
}

.contactInfo {
  width: 32%;
}

.contactInfo h3 {
  font-size: 18px;
  line-height: 19px;
  color: #f0d8d9;
  font-family: "latoblack";
  font-weight: 900;
  margin-bottom: 8px;
  letter-spacing: 0.16px;
}

.contactInfo p {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "latoregular";
  font-weight: 400;
  text-align: justify;
  margin-bottom: 26px;
}

.requisites li {
  margin-left: 4px;
  margin-bottom: 9px;
  display: flex;
  justify-content: start;
}

.requisites li a {
  display: block;
  font-size: 12px;
  color: #f0d8d9;
  font-family: "latoregular";
  font-weight: 400;
}

.requisites li i {
  font-size: 11px;
  font-family: fontawesome;
  color: #f0d8d9;
  display: block;
  margin-right: 10px;
}

li i.fa-map-marker {
  margin-right: 14px;
  letter-spacing: -1.8px;
}

.fa-phone {
  transform: scale(-1, 1);
}

li i.fa-envelope {
  margin-top: 2px;
  font-size: 11px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__content {
  position: relative;
  top: 50px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.5s;
}

.popup__content i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: fontawesome;
  color: #0f0f0f;
  display: block;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.popup__content i:hover {
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

.button_ok {
  display: block;
  margin: 0 auto;
}

.popup__sent {
  display: block;
  font-size: 18px;
  font-family: "latoblack";
  font-weight: 900;
}

.popup__body span {
  display: block;
  font-size: 14px;
  font-family: "latoregular";
  font-weight: 400;
}

/*footer*/

.footer {
  padding: 22px 0 21px;
  background-color: #2d303a;
  border-bottom: 6px solid #fff;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer span {
  display: block;
  font-size: 12px;
  line-height: 33px;
  color: #666d89;
  font-family: "latoregular";
  font-weight: 400;
  margin-left: 4px;
  letter-spacing: -0.25px;
}

footer .social_block {
  margin-right: -9px;
}

@media (max-width: 1019px) {
  .list li {
    width: 45%;
  }

  .container {
    width: calc(100% - 80px);
  }

  .images_block img {
    width: calc((100% - 40px) / 3);
  }

  .block_info {
    margin-bottom: 20px;
    text-align: start;
  }

  .userInfo {
    width: calc(100% - 32% - 30px);
  }

  .first_slide {
    width: calc(26% + 50% + 75px);
  }
  .vertical .vert_img {
    width: 87%;
    position: absolute;
    top: 51px;
    left: 11px;
  }

  .horizontal .horiz_img {
    width: 72.8%;
    position: absolute;
    top: 11px;
    left: 46px;
  }
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 60px);
  }

  .slider .container {
    width: calc(100% - 20px);
  }

  .slider {
    padding: 90px 0 30px;
  }

  .header {
    padding: 20px 0;
  }

  header .navbar {
    display: none;
  }

  .bar {
    display: inline-block;
  }

  .logo {
    margin: auto;
  }

  .logo h1 {
    font-size: 20px;
    line-height: 1.25;
  }

  .first_slide {
    width: calc(100% - 60px);
  }

  .vertical .vert_img {
    width: 87%;
    position: absolute;
    top: 58px;
    left: 13px;
  }

  .horizontal .horiz_img {
    width: 72.8%;
    position: absolute;
    top: 12px;
    left: 53px;
  }

  .vert_phone,
  .horiz_phone {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
  }

  .services {
    padding: 25px 0 15px;
  }

  .services_text {
    margin-bottom: 30px;
  }

  .list li {
    width: 100%;
  }

  .list li:last-of-type {
    margin-bottom: 0;
  }

  .portfolio {
    padding: 40px 0 20px;
  }

  .images_block img {
    width: calc((100% - 14px) / 2);
  }

  .images_block img:nth-of-type(n + 9) {
    display: none;
  }

  .about {
    padding: 35px 0 45px;
  }

  .team_block {
    margin: 20px 0 0;
  }

  .team {
    width: 100%;
    margin-bottom: 35px;
  }

  .team_info {
    margin-bottom: 17px;
  }

  .team:last-of-type {
    margin-bottom: 0;
  }

  .quote {
    padding: 45px 0 35px;
  }

  .quote_block .block_info {
    margin-bottom: 30px;
    text-align: start;
  }

  .formBlock {
    display: block;
  }

  .userInfo {
    width: 100%;
  }

  .contactInfo {
    width: 100%;
  }

  .userInfo button {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
  }

  .contactInfo p {
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer span {
    display: none;
  }

  footer .social_block {
    margin: auto;
  }

  /* bar */

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 48, 58, 0.6);
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .sideBar {
    width: 70%;
    height: 100%;
    background: rgb(45, 48, 58);
  }

  .new_menu {
    display: flex;
    justify-content: center;
  }

  .new_menu i {
    color: #ffffff;
    font-family: fontawesome;
    font-size: 25px;
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .vertical .vert_img {
    width: 87%;
    position: absolute;
    top: 25px;
    left: 6px;
  }

  .horizontal .horiz_img {
    width: 72.8%;
    position: absolute;
    top: 5px;
    left: 23px;
  }
}
