.container {
	width: 100%;
	max-width: 940px; 
	margin: auto;
}

.section {
	width: 100%;
	margin: auto;
	box-sizing: border-box;
}

/*header*/

	.header {
		padding: 35px 0 32px;
		background-color: #2D303A;
		border-bottom: 6px solid #323746;
	}

	header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	h1 {
		font-size: 25px;
		line-height: 1;
		color: #ffffff;
		font-family: 'latobold';
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
	}

	.logo span {
		color: #F06C64;
	}

	header .navbar {
		display: flex;
		justify-content: space-between;
	}

	header .navbar ul {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}

	header .navbar ul li {
		font-size: 12px;
		line-height: 1;
		display: flex;
		font-family: 'latobold';
		font-weight: 700;
		text-transform: uppercase;
		margin-left: 28px
	}

	header .navbar ul li a {
		color: #fff;
		margin: auto;
	}

	header .navbar ul li a:hover {
		color: #f06c64;
		transition: .2s linear	
	}

/*Slider*/	
	
	.slider {
		background-color: #f06c64;
		padding: 52px 0 80px;
		border-bottom: 6px solid #ea666b
	}

	.slider_block {
		display: flex;
		justify-content: space-between;
	}

	.vertical {
		position: relative;
		margin-left: 74px
	}

	.vert_img {
		position: absolute;
		top: 65px;
		left: 14px;
	}

	.vert_phone {
		box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.15);
		border-radius: 27px;
	}

	.horizontal {
		position: relative;
		margin-top: 1px;
    	margin-right: 217px;
	}

	.horiz_img {
		position: absolute;
		top: 135px;
		left: -62px;
	}

	.horiz_phone {
		transform: rotate(90deg);
		box-shadow: 25px -25px 0px 0px rgba(0, 0, 0, 0.15);
		border-radius: 27px;
	}

	.vertical:before {
		display: block;
		content: '';
		width: 16px;
	    height: 16px;
	    border: 4px solid #ca4549;
	    border-top: none;
	    border-right: none;
	    transform: rotate(45deg);
	    position: absolute;
	    left: -31%;
	    top: 50%;
	    cursor: pointer;
	}

	.horizontal:after {
		display: block;
		content: '';
		width: 16px;
	    height: 16px;
	    border: 4px solid #ca4549;
	    border-top: none;
	    border-right: none;
	    transform: rotate(-135deg);
	    position: absolute;
	    right: -100%;
	    top: 50%;
	    cursor: pointer;
	}

	.vertical:hover:before {
	    border: 4px solid #862f32;
	    border-top: none;
		border-right: none;
		transition: .2s linear
	}

	.horizontal:hover:after {
	    border: 4px solid #862f32;
	    border-top: none;
		border-right: none;
		transition: .2s linear
	}

	.vertical:active:before {
	    border: 4px solid #ca4549;
	    border-top: none;
	    border-right: none;
	}

	.horizontal:active:after {
	    border: 4px solid #ca4549;
	    border-top: none;
	    border-right: none;
	}

/* services */
	
	.services {
		background-color: #F2F2F2;
		padding: 62px 0 30px;
		border-bottom: 6px solid #fff
	}

	.services_block h2 {
		font-size: 30px;
		line-height: 1;
		color: #666d89;
		font-family: 'latoblack';
		font-weight: 900;
		margin-bottom: 21px;
		margin-left: 1px;
	}

	.services_text {
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-family: 'latolight';
		font-weight: 300;
		margin: 0 0 47px 2px;
		letter-spacing: -0.05px;
	}

	.list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.list li {
		width: 32%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	.circle {
		width: 60px;
		height: 60px;
		border: 2px solid #666d89;
		border-radius: 100%;
		display: flex;
		box-sizing: border-box;
		margin-left: 2px;
	}

	.pen {
		background-image: url(../images/pen.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.list_text {
		width: 73%;
		overflow: hidden;
	}

	.list_text h3{
		font-size: 18px;
		line-height: 1;
		color: #666d89;
		font-family: 'latoblack';
		font-weight: 900;
		margin: -2px 0 10px 1px;
	}

	.list_text p {
		font-size: 12px;
		line-height: 22px;
		color: #767e9e;
		font-family: 'latoregular';
		font-weight: 400;
		margin-left: 1px;
		text-align: justify;
		max-height: 66px;
		overflow: hidden;
	}

	.bulb {
		background-image: url(../images/bulb.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.heart {
		background-image: url(../images/heart.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.phone {
		background-image: url(../images/phone.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.bubble {
		background-image: url(../images/bubble.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.star {
		background-image: url(../images/star.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	/*portfolio*/

	.portfolio {
		padding: 68px 0 48px 5px;
		background-color: #2d303a;
		border-bottom: 6px solid #323746;
	}

	.block_title {
		font-size: 30px;
		line-height: 18px;
		color: #666d89;
		font-family: 'latoblack';
		font-weight: 900;
		margin-bottom: 27px;
	}

	.block_info {
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-family: 'latolight';
		font-weight: 300;
		margin-bottom: 10px;
		letter-spacing: -0.22px;
		text-align: justify;
	}

	.image_buttons {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 17px;
	}

	.image_buttons li {
		margin-right: 10px;
		cursor: pointer;
		padding: 5px 7px;
		border-radius: 5px;
		background-color: #0f0f0f;
		border: 1px solid #666d89; 
		font-size: 12px;
		line-height: 1;
		color: #767e9e;
		font-family: 'latoregular';
		font-weight: 400;
	}

	.image_buttons li:nth-of-type(2){
		padding: 5px 6px;
	}

	.image_buttons li:nth-of-type(3){
		padding: 5px 6px;
		margin-right: 8px;
	}

	.image_buttons li:nth-of-type(4){
		padding: 5px 6px;
	}

	.image_buttons li:hover {
		border: 1px solid #fff;
		color: #fff;
		transition: .2s linear;
	}

	.image_buttons li:active {
		border: 1px solid #666d89;
		color: #767e9e;
		transition: .1s linear;
	}

	.images_block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.images_block img {
		margin-bottom: 20px;
		display: block;
	}

	.images_block img:nth-of-type(n+13){
		display: none;
	}

/*about*/

	.about {
		padding: 68px 0 52px 5px;
		background-color: #F2F2F2;
		border-bottom: 6px solid #fff;
	}

	.team_block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 15px;
		margin-top: 45px;
	}

	.team {
		width: 300px;
	}

	.team img {
		display: block;
		margin-bottom: 17px
	}

	.name {
		display: block;
		font-size: 18px;
		line-height: 18px;
		color: #666d89;
		font-family: 'latoblack';
		font-weight: 900;
		margin-bottom: 10px;
		letter-spacing: -0.15px;
		overflow: hidden;
		max-height: 18px;
	}

	.team_info {
		font-size: 12px;
		line-height: 21px;
		color: #767e9e;
		font-family: 'latoregular';
		font-weight: 400;
		margin-bottom: 23px;
		text-align: justify;
	}

	.social_block {
		display: flex;
		justify-content: flex-start;
	}

	.border {
		display: flex;
		width: 33px;
		height: 33px;
		border: 1px solid #666d89;
		border-radius: 50%;
		margin-right: 7px;
    	box-sizing: border-box;
	}

	.facebook {
		background: url(../images/facebook.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 14px;
	}

	.google {
		background: url(../images/google-plus.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 14px;
	}

	.twitter {
		background: url(../images/twitter.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 14px;
	}

	.linkedin {
		background: url(../images/linkedin.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 14px;
	}
	
	.border:hover {
		cursor: pointer;
		background-color: #b9aedf;
		transition: .2s linear;
	} 

	.border:active {
		background-color: #fff;
	} 

	/*quote*/

	.quote {
		padding: 61px 0 49px 4px;
		background-color: #f06c64;
		border-bottom: 6px solid #ea676b;
	}

	.quote_block .block_title {
		font-size: 30px;
		line-height: 1;
		color: #f0d8d9;
		font-family: 'latoblack';
		font-weight: 900;
		margin-bottom: 21px;
	}

	.quote_block .block_info {
		font-size: 18px;
		line-height: 30px;
		color: #f0d8d9;
		font-family: 'latolight';
		font-weight: 300;
		text-align: justify;
		margin-bottom: 45px;
		letter-spacing: -0.1px;
	}

	.formBlock {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.userInfo {
		width: 66%;
		position: relative;
	}

	.userInfo input {
		width: 100%;
		box-sizing: border-box;
		display: block;
		border-radius: 5px;
		background-color: #d6564f;
		font-size: 12px;
		line-height: 1;
		color: #f0d8d9;;
		font-family: 'latoregular';
		font-weight: 400;
		padding: 10px 0 11px 15px;
		border: none;
		margin-bottom: 17px;
		outline: none;
	}

	::-webkit-input-placeholder {
		color:#f48c8f;
	}
	:-moz-placeholder {
		color:#f48c8f;
	}
	:-ms-input-placeholder {
		color:#f48c8f;
	}

	.userInfo input:focus {
		background-color: #8e5050;
	}

	form input:last-of-type {
		height: 203px;
		padding-bottom: 177px;
	}

	.userInfo button {
		position: absolute;
		right: -220px;
		bottom: 20px;
		padding: 10px 35px;
		border-radius: 7px;
		border: none;
		font-size: 16px;
		background-color: #f0d8d9;
		outline: none;
		color: #ea676b;
	}

	.userInfo button:hover {
		opacity: .7;
		cursor: pointer;
	}

	.userInfo button:active {
		opacity: 1;
	}

	.contactInfo {
		width: 32%;
	}

	.contactInfo h3 {
		font-size: 18px;
		line-height: 19px;
		color: #f0d8d9;
		font-family: 'latoblack';
		font-weight: 900;
		margin-bottom: 8px;
		letter-spacing: 0.16px;
	}

	.contactInfo p {
		font-size: 12px;
		line-height: 22px;
		color: #f0d8d9;
		font-family: 'latoregular';
		font-weight: 400;
		text-align: justify;
		margin-bottom: 26px;
	}

	.requisites li {
		margin-left: 4px;
		margin-bottom: 9px;
		display: flex;
		justify-content: start;
	}

	.requisites li a{
		display: block;
		font-size: 12px;
		color: #F0D8D9;
		font-family: 'latoregular';
		font-weight: 400;
	}

	.requisites li i {
		font-size: 11px;
		font-family: fontawesome;
		color: #F0D8D9;
		display: block;
		margin-right: 10px;
	}

	li i.fa-map-marker {
		margin-right: 14px;
		letter-spacing: -1.8px;
	}

	.fa-phone {
		transform: scale(-1, 1);
	}

	li i.fa-envelope {
		margin-top: 2px;
		font-size: 11px;	
	}

/*footer*/

	.footer {
		padding: 22px 0 21px;
		background-color: #2D303A;
		border-bottom: 6px solid #fff;
	}

	footer {
		display: flex;
		justify-content: space-between;
	}

	footer span {
		display: block;
		font-size: 12px;
		line-height: 33px;
		color: #666D89;
		font-family: 'latoregular';
		font-weight: 400;
		margin-left: 4px;
		letter-spacing: -0.25px;
	}

	footer .social_block {
		margin-right: -9px;
	}

